
.DS_Store
JourneyThroughCastleSky-bfmcwgclupauwafotetpyptzyaqm/*
ModuleCache.noindex/*
SDKStatCaches.noindex/*
SymbolCache.noindex/*
JourneyThroughCastleSky.xcodeproj/project.xcworkspace/xcuserdata/victorsoares.xcuserdatad/UserInterfaceState.xcuserstate
